/*ctrl-/ for comments*/
/*style sheet for calculator*/
body{
    font-family:monospace;
    font-weight:bold;
}

h1{
    color:blue;
    font-size:24pt;
    font-family: monospace;
    text-align: center;
}
h1 a{
    color:purple;
}

a{
    font-family:sans-serif;
}
/*calculator characteristics */
.calculator{
    font-size:16pt;
    margin-bottom:30;
}
.calculator button{
    font-size:16pt;
    font-family:monospace;
    font-weight:bold;
    width:160;
    background-color:#4d90fe;
    padding: 13;
    margin: 10;
    border-radius: 5;
    border-color:#4d90fe;
}
.calculator input[type="text"]{
    font-size:16pt;
    font-family:monospace;
    font-weight:bold;
    padding: 10;
    margin: 10;
    height: 50;
    width: 350;
    margin-left:50;
    border-radius:2;
    border-color:rgb(238, 238, 238);
}
.calculator input[type="text"]:hover{
    
}
.calculator input[type="text"]:focus{
    background-color:rgba(255, 255, 0, 0.45);
}
.calculator .output{
    background-color:rgba(244, 202, 255, .83);
    margin-left:50;
    margin-right:10;
    padding:10;
    width:510;
    height:23;
    border-radius:5;
}