img.overlay{
	position:absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	left:0;	
	top:0;
}

div.item{
	float:left;
	cursor: move;
	z-index: 10;
	padding:3px;
}
div.container{
	font:12px Lucida Sans, Verdana, sans;
	color:white;
}
div.left{
	border: 3px ;
	background-color: rgba(70,150,250,.5);
	float:left;
	margin-right: 20px;
	background-image:url('img/shelf.png');
	background-color:#cccccc;
}
div.right{
	border:solid 3px green;
	background-color: rgba(70,250,150,.5);
	float:left;
	color:black;
	/*margin-left: 30px*/
}
div.full{
	border:solid 3px red;
	background-color: rgba(250, 70,150,.5);
}

div.value{
	/*-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);*/
	background: green;
	/*position: absolute;
	width:100px;*/
}
div.progress{
	background: yellow;
	border-color:rgb();
	position: relative;
}
.progress .ui-progressbar-value{
	background: orange;
}
.value .ui-progressbar-value{
	background: lightgreen;
}
img.shelf{
	position:absolute;
	overflow: hidden;
	z-index:1;
}
img.alert-img{
	width:150px;
	height:150px;
}
div.progressText{
	text-align: right;
	padding-bottom:20px;
}

#modal-from-dom{
	width:300px;
}
.modal-header{
	background: rgba(250, 10, 10, 0.5);
}
.modal-footer{
	background: rgba(250, 10, 10, 0.5);
}