.chart-container{
	border:solid 2px black;
}

.chart text.bar_label{
	fill:lightblue;
	text-align: right;
	font:15px monospace;
	/*padding:3px 0px 3px 3px;*/
	/*margin:1px;*/
}

.chart text.y_label{	
	fill:black;
	text-align: right;
	font:15px monospace;
	/*padding:3px 0px 3px 3px;*/
	/*margin:1px;*/
}
.chart rect{
	/*fill:purple;*/
	stroke:white;
}
.chart line{
	stroke:gray;
}